$main-color: rgb(44, 120, 101);
$secondary-color: rgb(155, 190, 135);
$details-color: rgb(255, 152, 0);
$font-color-light: rgb(202, 209, 192);
$font-color-dark: rgb(17, 53, 44);
$shadow-light: 0px 1px 8px 1px rgb(203, 232, 186);
$shadow-dark: 0px 1px 16px 1px rgb(47, 83, 74);
$font-family-main: "Cormorant SC", serif;
$font-family-secondary: "Oswald", sans-serif;
