#confirmDeleteFaily__modal{
margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: rgb(255, 0, 0);
  z-index: 2;
  border-radius: 15px;
  box-shadow: $shadow-dark, $shadow-dark;
  max-width: 350px;

  p{
    font-family: $font-family-secondary;
    font-size: 20px;
    text-align: center;
    color: black;
  }

  button{
    box-shadow: $shadow-dark;
  }

  #confirmDeleteFaily__btn{
    background-color: red;
  }

  #cancelDelete__btn{
    background-color: rgb(82, 243, 82);
    color: black;
  }
}