nav {
	background-color: $main-color;
	width: 100%;
	padding-block: 20px;
	position: fixed;
	top: 0;
	box-shadow: $shadow-dark;
	h1 {
		font-family: "Cormorant SC", serif;
		font-size: 34px;
		margin-inline: 20px;
    text-align: center;
    padding: inherit;

		@include md() {
			font-size: 52px;
		}
		@include md-max() {
			font-size: 64px;
		}
	}

	@include md() {
		display: flex;
		justify-content: space-between;
	}
}

.nav_btns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-block: auto;

	@include md() {
		display: flex;
		gap: 50px;
		margin-right: 48px;
	}
}
